<div class="text-center">
  <app-forest [hidden]="userRepoListError" [repoList]="repoList"></app-forest>

  <div class="place" *ngIf="place && !userRepoListError">
    <h1>Your place is:</h1>
    <div class="place-value" [innerText]="place"></div>
    <div class="place-repos">{{userRepoCount}} repo{{userRepoCount === 1 ? '' : 's'}}</div>
    <div class="place-phrase" [innerText]="placePhrase"></div>
  </div>

  <div class="top-list">
    <h5 class="text-left">Top greenness</h5>

    <table class="table">
      <tr class="top-user" *ngFor="let user of userTopList; let userTopIndex = index">
        <td [innerText]="userTopIndex + 1" width="40" class="text-left"></td>
        <td [innerText]="user.user_id" class="text-left"></td>
        <td [innerText]="user.repo_count" class="text-right"></td>
      </tr>
    </table>
  </div>

  <div class="error-user-repo-list" *ngIf="userRepoListError">
    <h1>Sorry...</h1>
    <p>Nothing was found</p>
  </div>

  <div class="grass"></div>
</div>

<a class="voiting btn btn-danger btn-lg" href="http://www.angularattack.com/entries/25-redsocks" target="_blank">
  Vote for me
</a>
